<script language="javascript">
$(document).ready(function() 
    { 
		$("#refTable").tablesorter({widgets: ['zebra']});
        $("#sitesTable").tablesorter({widgets: ['zebra']}); 
    } 
);
</script>

<h1>PageRank (PR)</h1>
<p>
PageRank is a numeric value that represents how important a page is on the web.<br />
0 = least important, 10 = most important<br />
</p>
<%= link_to 'Add Site', new_site_path %><br />

<p>
Last updated: <%= @sites.first.updated_at.to_s(:db) if @sites.first %>
</p>

<h2>Reference Sites</h2>
<table class="tablesorter" id="refTable">
<thead>	
  <tr>
    <th>Name</th>
	<th>Page Rank</th>
	<th>Load Time</th>
  </tr>
</thead>

<tbody>
<% @reference_sites.each do |site| %>
  <tr class="<%= cycle("even", "odd") %>">
    <td><%= site.name %></td>
	<td><%= site.page_rank %></td>
	<td class="numeric"><%= show_load_time(site.load_time) %></td>
  </tr>
<% end %>
</tbody>
<% reset_cycle() %>
</table>

<h2>GN Sites</h2>
<table class="tablesorter" id="sitesTable">
<thead>
  <tr>
    <th>Name</th>
	<th>Page Rank</th>
	<th>Load Time</th>
  </tr>
</thead>

<tbody>
<% @sites.each do |site| %>
  <tr class="<%= cycle("even", "odd") %>">
    <td><%= site.name %></td>
	<td><%= site.page_rank %></td>
	<td class="numeric"><%= show_load_time(site.load_time) %></td>
	<!--
	<td><%= link_to 'Update Page Rank', {:id => site.id, :action => 'update_page_rank'}, :method => :post %></td>
    <td><%= link_to 'Show', site %></td>
    <td><%= link_to 'Edit', edit_site_path(site) %></td>
    <td><%= link_to 'Destroy', site, :confirm => 'Are you sure?', :method => :delete %></td>
	-->
  </tr>
<% end %>
</tbody>
</table>