<!DOCTYPE html>
<html>
<head>
  <title>Page Rank Dashboard</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag 'jquery.js' %>
  <%= javascript_include_tag 'jquery.tablesorter.min.js' %>
  <%= csrf_meta_tag %>
</head>
<body>

<%= yield %>

</body>
</html>
